@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  background-color: var(--paleBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img {
  max-width: 100%;
}
button {
  font-family: inherit;
}

.bg__img {
  position: absolute;
  inset: 0;
  background: url("./images/pattern-background-mobile.svg") no-repeat
    center/cover;
  z-index: -1;
  height: 400px;
}

.container {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 350px;
  width: 100%;
  box-shadow: 0 30px 30px hsl(228, 45%, 44%, 0.15);
}
.container .box {
  padding: 20px;
}

.plan {
  background-color: var(--veryPaleBlue);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan .plan__text {
  flex: 1;
  text-align: left;
  margin: 0 15px;
}

.header {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--darkBlue);
}

.plan .plan__text .plan__name {
  color: var(--darkBlue);
  font-weight: 900;
}

.description {
  margin: 20px 15px;
  line-height: 1.6;
}

.description,
.plan .plan__text .plan__price {
  color: var(--desaturatedBlue);
}
.plan .plan__btn {
  color: var(--brightBlue);
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  border: none;
  display: block;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  font-weight: 900;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  color: white;
  margin-top: 30px;
  background-color: var(--brightBlue);
}

.btn-primary:hover {
  box-shadow: 0 20px 20px hsl(224, 23%, 55%, 0.25);
}

.btn-secondary {
  margin-top: 10px;
  color: var(--desaturatedBlue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .bg__img {
    background: url("./images/pattern-background-desktop.svg") no-repeat
      center/cover;
    height: 70vh;
  }
}
